<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            @{ ViewBag.Title = "Blog Sayfası"; }
            <div class="row mb-2">


                <div class="post-list">

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <p class="baslik"><img id="newsList1_HaberDiger_Photo_0" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20240202120704/Ortakapak.jpg"></p>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Otomobilinizin Kişiliğini Biliyor musunuz?</a>
                                <span class="entry-date">Tarih 02.02.2024</span>
                                <p>
                                    Otomobiliniz insan olsaydı nasıl bir karakteri olurdu? Aracınızın da bir kişiliği olabilir mi? Belki genç bir hız tutkunu, bir maceraperest ya da sadece sakin bir yol arkadaşıdır. Otomobiller, marka, model ve renk seçenekleriyle adeta farklı kişiliklere bürünüyorlar. Bu yazımızda, birbirinden farklı otomobil modellerinin kendine özgü kişiliklerine yakından bakıyoruz. Gelin, OTOMOL ile otomobilinizin nasıl bir karaktere sahip olduğunu keşfetmeye başlayalım.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik" id="newsList1_HaberDiger_Link_1" href="/ces-2024ten-heyecan-verici-otomobil-teknoloji-trendleri-hd-119"><img id="newsList1_HaberDiger_Photo_1" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20240126154052/Ortakapak.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">CES 2024'ten Heyecan Verici Otomobil Teknoloji Trendleri</a>
                                <span class="entry-date">Tarih 26.01.2024</span>
                                <p>
                                    9-12 Ocak tarihleri arasında gerçekleşen CES 2024, otomobil dünyasında heyecan verici teknolojik atılımları bir araya getirdi. Önde gelen otomobil markaları olan Mercedes-Benz, BMW, VOLVO, Volkswagen gibi markalar geleceğin sürüş deneyimini şekillendirecek, sektöre damga vuran duyurularla dikkat çekti. Bu yazımızda, CES 2024'te tanıtılan heyecan verici otomobil teknolojilerini ve trendlerini yakından inceleyeceğiz. Gelin, OTOMOL ile geleceğin otomobil dünyasına bir göz atalım!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_2" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20240119122358/Ortakapak.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">2024'ün Merakla Beklenen En Yeni Otomobil Modelleri</a>
                                <span class="entry-date">Tarih 19.01.2024</span>
                                <p>
                                    2024'e girerken otomotiv dünyasında büyük bir heyecan var! Yeni yıl, bize getireceği yeni model otomobillerle dolup taşacak gibi görünüyor. Bu yazımızda, 2024'ün en heyecan verici otomobillerini birlikte keşfedeceğiz ve sektördeki son trendlere göz atacağız. Gelin, birlikte 2024'ün mükemmel otomobillerini inceleyelim!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_3" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20240112093154/Ortakapak.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Karlı Rotalar: Yolların Eşsiz Kış Manzaraları</a>
                                <span class="entry-date">Tarih 12.01.2024</span>
                                <p>
                                    “Ben kış insanıyım” diyorsanız bu yazımız sizin için… Bembeyaz, masalsı bir kış atmosferi altındaki rotalara odaklandığımız yazımız, muazzam manzara rotalarını keşfetmek isteyenler için ilham verici bir rehber olacak.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_4" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20240105133417/Ortaotomol_blog_ocak1.hafta_hapak.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Otomobil Renk Kataloğu: Otomobilinizin Kişiliğinize Yansımaları</a>
                                <span class="entry-date">Tarih 05.01.2024</span>
                                <p>
                                    Otomobilinizi alırken neden o rengi tercih ettiğinizi merak ettiniz mi? Ya da farklı otomobil modellerinde neden sadece belli bir renk kataloğu var? Bu yazımızda renklerin otomobil tasarımındaki psikolojik etkilerini ve anlamlarını keşfedecek, otomobil renk dünyasında mükemmel bir yolculuğa çıkacağız.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_5" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231229093353/Ortakapak.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Türkiye’de Yılbaşında Gidilebilecek 5 Harika Rota</a>
                                <span class="entry-date">Tarih 29.12.2023</span>
                                <p>
                                    Yeni bir yılın, yeni bir başlangıcın müjdecisi yılbaşına bu yıl farklı bir yerde girmek isterseniz, sizlere seyahat edebileceğiniz 5 harika rota önerebiliriz! Gelin, OTOMOL Blog aracılığıyla yılbaşı için en güzel destinasyonları inceleyelim.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_6" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231220141453/Ortakapak_gorseli.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">En Uzun Gece - Otomobilinizle Keyifli Aktiviteler</a>
                                <span class="entry-date">Tarih 20.12.2023</span>
                                <p>
                                    Kuzey yarımkürede kışın başlangıcı olan ve en uzun gecenin yaşandığı 21 Aralık gecesi, evde oturmak yerine otomobilinizle güzel anılar yaşayacağınız harika bir fırsat olabilir. Gelin, OTOMOL Blog okuyucuları için derlediğimiz 21 Aralık gecesi keyifli otomobil aktivitelerine göz atalım!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_7" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231214115514/Ortakapak.jpeg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Ünlü Otomobil Markalarının İkonik Logolarının Hikayeleri</a>
                                <span class="entry-date">Tarih 14.12.2023</span>
                                <p>
                                    Ünlü Otomobil markalarının ikonik logolarını birçok kişi biliyordur. Peki bu logoların hikayelerini ve ilk ortaya çıktıkları günden bugüne kadar olan değişimlerini biliyor muydunuz? Gelin, OTOMOL Blog’da bu logoların hikayelerine bakalım!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_8" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231208162936/Orta8_aralik_kapak_2.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Otomobil Bakımının Önemi: Uzun Ömürlü ve Güvenli Sürüş İçin İpuçları</a>
                                <span class="entry-date">Tarih 08.12.2023</span>
                                <p>
                                    Otomobilinize düzenli bakım ve kontrol yaptırmak sürüş deneyiminizi, aracınızın performansını ve güvenliğini iyileştirir. Düzenli bakım, aracınızın motor, şanzıman, fren sistemleri ve diğer önemli bileşenlerinin optimal performansını sağlar, aracınızın uzun ömürlü olmasını sağlar ve sürüş güvenliğini artırır. OTOMOL Blog okurları için otomobil bakımının önemli ipuçlarını inceledik.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_9" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231201145736/Ortablog_copy.jpg"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Otomobillerin Bir Yaşam Tarzına Dönüşme Yolculuğu</a>
                                <span class="entry-date">Tarih 01.12.2023</span>
                                <p>
                                    Otomobiller, sadece bir ulaşım aracı olmaktan çok daha fazlasını temsil eder. Günümüzde, insanlar araçlarını sadece bir yerden bir yere gitmek için değil, yaşam tarzını ifade etmek, hobilerini desteklemek ve farklı deneyimler yaşamak için kullanıyorlar. Gelin, otomobillerin bir yaşam tarzına dönüşme yolculuğunu birlikte inceleyelim!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_10" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231124140828/Ortablog.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">25 Kasım Kadına Yönelik Şiddete Karşı Uluslararası Mücadele Günü</a>
                                <span class="entry-date">Tarih 24.11.2023</span>
                                <p>
                                    Kadına şiddet, fiziksel, duygusal, ekonomik ve psikolojik olarak kadınların yaşam hakkını ihlal eden bir insan hakları ihlalidir. Bu vahşi soruna dikkat çekmek, kadınlara yönelik şiddeti sonlandırmak, eyleme geçmek ve kadınların haklarını korumak için belirlenen 25 Kasım Kadına Yönelik Şiddete Karşı Uluslararası Mücadele Günü’nün anlam ve önemini birlikte inceleyelim.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_11" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231117113332/Ortablog.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Sürdürülebilir Bir Gelecek: Alternatif Yakıtlar ve Elektrikli Araçların Geleceği</a>
                                <span class="entry-date">Tarih 17.11.2023</span>
                                <p>
                                    Fosil yakıtların sınırlılığı, iklim değişikliği ve çevresel kaygılar nedeniyle enerji sektörü alternatif yakıtlara ve elektrikli araçlara yöneliyor. Bu alternatif yakıtlar arasında özellikle hidrojen ve biyoyakıtlar büyük ilgi görüyor. Bu yazımızda, hidrojen, biyoyakıtlar ve elektrikli araçların geleceğini, çevresel sürdürülebilirlik açısından etkilerini ele alacağız. Gelin, OTOMOL ile çevreci bir seçenek olan elektrikli araçların, Hidrojen ve Biyoyakıtların geleceğini inceleyelim.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_12" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231110130508/Ortablog.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Atamızın Mükemmel Yolculuğu</a>
                                <span class="entry-date">Tarih 10.11.2023</span>
                                <p>
                                    Atatürk, sadece Türk milletinin değil, tüm insanların kalbinde sonsuz bir sevgi ve saygıya layık bir liderdi. Onun yaşamı, sadece tarihi bir hikaye değil, aynı zamanda duygularımızın en derin köşelerini dokunmuş bir destan niteliği taşır. Birlikte Atamızın yolculuğundaki önemli durakları inceleyelim.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_13" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231103090803/Ortablog.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Otomobil Markalarının Kökenleri: Tarihsel Bir Yolculuk</a>
                                <span class="entry-date">Tarih 03.11.2023</span>
                                <p>
                                    Otomobil tutkunları için bu yazımızda tarihsel bir yolculuğa çıkıyoruz. Gelin, OTOMOL ile dünya otomobil endüstrisinin en önde gelen markaları olan Mercedes, BMW, Volvo ve Audi’nin doğuş hikayelerini inceleyelim.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="tbl full-width">
                            <div class="tbl-cell min-width">
                                <a class="baslik"><img id="newsList1_HaberDiger_Photo_14" class="img-responsive" src="https://www.otomol.com/cms/uploads/3/20231103090902/Ortablog.png"></a>
                            </div>
                            <div class="tbl-cell">
                                <a class="baslik">Cumhuriyet’in 100. Yılında Türkiye’deki Otomobil Serüveni: Yolculuğun Başlangıcı</a>
                                <span class="entry-date">Tarih 27.10.2023</span>
                                <p>
                                    Cumhuriyetimizin 100. yılını coşkuyla kutlarken ülkemizin otomobil serüvenini inceliyoruz. 1920’lerde atılan ilk adımlardan günümüze kadar olan süreçte Türkiye otomotiv endüstrisinin gelişimini keşfediyoruz. Ülkemizin otomotiv endüstrisinin nasıl büyüdüğünü ve geliştiğini anlamak için birlikte bir yolculuğa çıkıyoruz.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="fst-italic">Yakın zamanda Gönderilenler</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="sagimg" src="~/Images/blog5.jpg" />
                            <div class="col-lg-8">
                                <h6 class="mb-0">Arabayla Yurtdışına Nasıl Çıkılır?</h6>
                                <small class="text-body-secondary">15 Ocak 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="sagimg" src="~/Images/blog4.jpg" />
                            <div class="col-lg-8">
                                <h6 class="mb-0">Yağ Soğutucu Nedir? Arızası Nasıl Anlaşılır?</h6>
                                <small class="text-body-secondary">15 Ocak 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="sagimg" src="~/Images/Blog3.jpg" />
                            <div class="col-lg-8">
                                <h6 class="mb-0">Ağır Bakım Nedir? Ne Zaman Yapılır?</h6>
                                <small class="text-body-secondary">15 Ocak 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="sagimg" src="~/Images/Blog2.jpg" />
                            <div class="col-lg-8">
                                <h6 class="mb-0">Aks Nedir? Ne İşe Yarar? Nasıl Tamir Edilir?</h6>
                                <small class="text-body-secondary">14 Ocak 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="sagimg" src="~/Images/Blog1.jpg" />
                            <div class="col-lg-8">
                                <h6 class="mb-0">Lastik Ebat Hesaplama: Lastik Ölçü Hesaplaması Nasıl Yapılır?</h6>
                                <small class="text-body-secondary">13 Ocak 2023</small>

                            </div>


                        </a>
                    </li>

                    <li>
                        <div>
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dünya</font></font></strong>
                                    <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Öne çıkan gönderi</font></font></h3>
                                    <div class="mb-1 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12 Kasım</font></font></div>
                                    <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metnin yer aldığı daha geniş bir karttır.</font></font></p>
                                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                okumaya devam et
                                            </font>
                                        </font><svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<style>
    .sagimg {
        max-width: 55%;
        max-height: 45%;
    }

    .anaimg {
        max-height: 80%;
        width: 380px;
    }

    .baslik {
        font-weight: bolder;
        color: red;
    }
</style>
